{{ if .Site.Params.blog.enable}}
    <section id="blog">
        <div id="slider">
            <div class="container">
            <div class="row">
                <div class="col-md-12">
                        <div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h1 class="heading">{{ with .Site.Params.blog.title }} {{ . | safeHTML }} {{ end }}</h1>
                    <div id="owl-blog" class="owl-carousel">

                            {{ range .Data.Pages }}
                            <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div id="card">
                                <div class="blog-img">
                                    {{ with .Params.image }}<img src="{{ . | absURL }}" alt="post-image" class="img-responsive">{{ end }}
                                </div>
                                <div class="content-right">
                                    <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                                    <p>{{ .Summary }}</p>
                                </div>
                            </div>
                            </li>
                             {{ end }}

                    </div>
                </div>
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .containe close -->
    </div><!-- .slider close -->
    </section><!-- #blog close -->

{{end}}