<div id="closeModal" class="modalWindow">
    <div>
        
        <div class="modalHeader">
            <h2>Website ini masih dalam pengembangan</h2>
            <a href="#closeModal" title="Close" class="close">X</a>
        </div>
        
        <div class="modalContent">
            <p><strong> Mau punya website keren seperti yang ini?</strong></p>
            <p>Hubungi <a href="https://api.whatsapp.com/send?phone=62817778488&text=Permisi, mau tanya tentang jasa pembuatan website" target="_blank">0817778488</a> untuk info dan penawaran!</p>
        </div>
        
        <div class="modalFooter">
            <p>Developed By Charleskya</p>
            <div class="clear"></div>
        </div>
    </div>
</div>