{{ if .Site.Params.gallery.enable }} 
<section id="slider">
    <div id="inbound" class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="title">
                        <h3 class="headingPack">Selected <span>Inbound Packages</span></h3>
                    </div>
                    <div id="owl-inbound" class="owl-carousel">
                        {{ range where .Data.Pages  "Type" "inbound" }}
                        <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
                            <a href="{{ .Permalink }}">
                            <div class="blog-img">
                                {{ with .Params.image }}<img src="{{ . | absURL }}" alt="post-image" class="img-responsive" style="height: 220px; min-width:291px; object-fit: cover">{{ end }}
                            </div>
                            <div class="content-right">
                                <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                                <p>{{ .Params.description }}</p>
                            </div>
                        </a>
                        </li>
                        {{ end }}
                    </div>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .container close -->
                <div id="outbound" class="container">
        <div class="row">
                <div class="col-md-12">
                    <div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                        <div class="title">
                            <h3 class="headingPack">Selected <span>Outbound Packages</span></h3>
                        </div>
                        <div id="owl-outbound" class="owl-carousel">
                            {{ range where .Data.Pages  "Type" "outbound" }}
                            <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
                                <a href="{{ .Permalink }}">
                                <div class="blog-img">
                                    {{ with .Params.image }}<img src="{{ . | absURL }}" alt="post-image" class="img-responsive" style="height: 220px; min-width:291px; object-fit: cover">{{ end }}
                                </div>
                                <div class="content-right">
                                    <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                                    <p>{{ .Params.description }}</p>
                                </div>
                            </a>
                            </li>
                            {{ end }}
                        </div>
                    </div>
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .container close -->
                    <div id="hotel" class="container">
            <div class="row">
                    <div class="col-md-12">
                        <div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="title">
                                <h3 class="headingPack">Selected <span>Hotels</span></h3>
                            </div>
                            <div id="owl-hotel" class="owl-carousel">
                                {{ range where .Data.Pages  "Type" "hotel" }}
                                <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
                                    <a href="{{ .Permalink }}">
                                    <div class="blog-img">
                                        {{ with .Params.image }}<img src="{{ . | absURL }}" alt="post-image" class="img-responsive" style="height: 220px; min-width:291px; object-fit: cover">{{ end }}
                                    </div>
                                    <div class="content-right">
                                        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                                        <p>{{ .Params.description }}</p>
                                    </div>
                                </a>
                                </li>
                                {{ end }}
                            </div>
                        </div>
                    </div><!-- .col-md-12 close -->
                </div><!-- .row close -->
            </div><!-- .row close -->
        </div><!-- .container close -->
        <div id="transportation" class="container">
            <div class="row">
                    <div class="col-md-12">
                        <div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="title">
                                <h3 class="headingPack">Selected <span>Transportation</span></h3>
                            </div>
                            <div id="owl-transportation" class="owl-carousel">
                                {{ range where .Data.Pages  "Type" "transportation" }}
                                <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
                                    <a href="{{ .Permalink }}">
                                    <div class="blog-img">
                                        {{ with .Params.image }}<img src="{{ . | absURL }}" alt="post-image" class="img-responsive" style="height: 220px; min-width:291px; object-fit: cover">{{ end }}
                                    </div>
                                    <div class="content-right">
                                        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                                        <p>{{ .Params.description }}</p>
                                    </div>
                                </a>
                                </li>
                                {{ end }}
                            </div>
                        </div>
                    </div><!-- .col-md-12 close -->
                </div><!-- .row close -->
            </div><!-- .container close -->
                    <div id="entertainment" class="container">
                <div class="row">
                        <div class="col-md-12">
                            <div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                                <div class="title">
                                    <h3 class="headingPack">Selected <span>Entertainments</span></h3>
                                </div>
                                <div id="owl-entertainment" class="owl-carousel">
                                    {{ range where .Data.Pages  "Type" "entertainment" }}
                                    <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
                                        <a href="{{ .Permalink }}">
                                        <div class="blog-img">
                                            {{ with .Params.image }}<img src="{{ . | absURL }}" alt="post-image" class="img-responsive" style="height: 220px; min-width:291px; object-fit: cover">{{ end }}
                                        </div>
                                        <div class="content-right">
                                            <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                                            <p>{{ .Params.description }}</p>
                                        </div>
                                    </a>
                                    </li>
                                    {{ end }}
                                </div>
                            </div>
                        </div><!-- .col-md-12 close -->
                    </div><!-- .row close -->
    </div><!-- .container close -->
</section><!-- slider close -->
{{end}}